@model IEnumerable<maShop.core.Models.Product>
@{
    ViewBag.Title = "Home Page";
}

<h1>Product</h1>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4" style="height:450px;padding:10px;margin:10px;border:solid thin whitesmoke;">
                <div class="col-md-12">
                    <img src="~/Content/ProductImages/@item.Image" alt="@item.Image" style="height:250px;" />
                </div>
                <div class="col-md-12">
                    <strong>@Html.ActionLink(item.Name, "Detail", new { Id = item.Id })</strong>
                </div>
                <div class="col-md-12">
                    <p>@item.Description</p>
                </div>
                <div class="col-md-12">
                    <h4>@item.Price</h4>
                </div>
                <div class="col-md-12">
                    <a href="#" class="btn btn-default">Add to Cart</a>
                </div>
            </div>
        }
    </div>
</div>
<div class="col-md-12 clearfix"></div>